<header>
  <div id="ashitamochi">
    <a href="/"><img class="ashitamochi" src="/assets/ashitamochi.png" alt="あしたもち"></a>
  </div>
  <h2 id="asunan">あしたまでになんとかしておきます</h2>
</header>

<nav class="global_nav">
  <ul>
    <li class="js_nav">
      <%= link_to "Home", root_path =%>
    </li>
    <li class="js_nav">
      <%= link_to "Discography", discography_path =%>
    </li>
    <li class="js_nav">
      <%= link_to "Members", members_path =%>
    </li>
    <li class="js_nav">
      <%= link_to "Biography", biography_path =%>
    </li>
    <li class="js_nav">
      <%= link_to "SNS", sns_path =%>
    </li>
    <li class="js_nav">
      <%= link_to "Store", products_path =%>
    </li>
    <li class="js_nav">
      <%= link_to "Special", special_path =%>
    </li>
  </ul>
</nav>